body {
    background-color: darkgray;
}

.carousel {
    background: #e5e6e8;
    margin-top: 20px;
}
.carousel-item {
    text-align: center;
    height: 380px;
}
.slider {
    margin: 0 0 5px 0;
}
.carousel-inner img {
    height: 100%;
    width: auto;
}

.carousel-caption {
    color: red;
    text-shadow: black 0 0 4px;
}

.container {
    background-color: #f1f8ff;
}

.disabled-btn {
    opacity: 0.65;
    background-color: #9cc8e0;
}

.session-time {
    padding: 4px;
    font-weight: 500;
    color: blue;
    white-space: nowrap;
}

.session-time:hover {
    cursor: pointer;
}

.cinema-places-table tr {
    height: 55px;
}

.cinema-places-table tbody td:not(.reserved-place):hover {
    cursor: pointer;
}

.inactive-hall tbody td:hover {
    cursor: default;
}

.free-place {
    background-color: darkseagreen;
}

.reserved-place {
    background-color: indianred;
}